{% load static %}

<div class="container text-center">

  <div class="row mx-2 my-3">
    <div class="col">
      <div class="card">
        <img src="{% static 'Classification/Diabetes/diabetes.jpg' %}" class="card-img-top img-fluid"  alt="...">
        <div class="card-body">
          <h5 class="card-title">Diabetes</h5>
          <p class="card-text">This model predicts the price of the car depending on the input values.</p>
          <a href="/classification/diabetes/" class="btn btn-primary">Select</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-2 my-3">
    <div class="col">
      <div class="card">
        <img src="{% static 'Classification/Diabetes/diabetes.jpg' %}" class="card-img-top img-fluid"  alt="...">
        <div class="card-body">
          <h5 class="card-title">Diabetes</h5>
          <p class="card-text">This model predicts the price of the car depending on the input values.</p>
          <a href="/classification/diabetes/" class="btn btn-primary">Select</a>
        </div>
      </div>
    </div>
  </div>

</div>