{% load static %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="{% static 'CarPricePrediction/car_price.jpg' %}" class="card-img-top img-fluid mx-3 my-2" alt="...">
      <div class="card-body">
        <h5 class="card-title">Car Price Prediction</h5>
        <p class="card-text">This model predicts the price of the car depending on the input values.</p>
        <a href="/regression/carprice/" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>

  <div class="col-6 mx-3 my-3">
    <div class="card container-fluid mx-5" style="max-width: 400px; max-height: 400px;">
      <img src="{% static 'CarPricePrediction/car_price.jpg' %}" class="card-img-top img-fluid mx-3 my-2" alt="...">
      <div class="card-body">
        <h5 class="card-title">Car Price Prediction</h5>
        <p class="card-text">This model predicts the price of the car depending on the input values.</p>
        <a href="/regression/carprice/" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
</div>